@model WebApp.Models.Person


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.Firstname)
        </th>
        <td>
            @Html.DisplayFor(m => m.Firstname)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.Surname)
        </th>
        <td>
            @Html.DisplayFor(m => m.Surname)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.Age)
        </th>
        <td>
            @Html.DisplayFor(m => m.Age)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.Active)
        </th>
        <td>
            @Html.DisplayFor(m => m.Active)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.Birthday)
        </th>
        <td>
            @Html.DisplayFor(m => m.Birthday)
        </td>
    </tr>
</table>