@using BlogSite.Models
@model BlogPost

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Speaker</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publication)
        </dd>

    </dl>
</div>

<div>
    <h5>Comments</h5>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var comment in Model.Comments)
        {
            <dt>
                @Html.Display(comment.Publication.ToString())
            </dt>

            <dd>
                @Html.Display(comment.Content)
            </dd>
        }
        @Html.ActionLink("Add Comment", "Create", "Comment", new Comment { BlogPost = Model }, new { })
    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
