@model WebSite.Models.Person

@{
    ViewBag.Title = Resources.Person.Views.DetailsTitle;
}

<h2>@Resources.Person.Views.DetailsTitle</h2>

@Html.DisplayForModel()

<div class="form-group col-md-offset-1">
    <div id="menu" class="container btn-toolbar">
        @Html.ActionLink(Resources.Shared.Edit, "Edit", new { id = Model.Id }, new { @class = "btn btn-success" })
        @Html.ActionLink(Resources.Person.Views.AttachUser, "Create", "Users", new { PersonId = Model.Id }, new { @class = "btn btn-success" })
        @Html.ActionLink(Resources.Shared.Back, "Index", null, new { @class = "btn btn-default" })
    </div>
</div>
